@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Shippori+Antique&display=swap');

*{
    color: rgba(0, 0, 0, 0.808);
    margin: 0;
    padding:0;
    font-family: 'Shippori Antique', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
    
.div.index{
    width: 100%;
    height: 100vh;
    background-image: url(images/the-office-kevin-eat-it.gif);
    background-size: cover;
    background-position: center;
    position: absolute;
    overflow: hidden;
}


.div.navbar{
    background-color: rgb(120, 167, 114,.5);
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width:30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    
}
.body.alfredo,
.body.pho,
.body.dough{
    background-color:rgba(239, 239, 239, 0.808);
}
.content.alfredo,
.content.pho,
.content.dough{
    margin-top:15px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 40px;
    
}

.div.content{
    position: absolute;
    top: 20%;
    left: 5%;
    padding:3%;
    transform: translateY(50%);
    z-index: 2;
    background-color: transparent;
}
.h1.index{
    
    background-color: transparent;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left:3%;
    
}
.h2.index{
    background-color: transparent;
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 3%;

}
.p1.index{
    background-color: transparent;
    font-size: 18px;
}
.img.alfredo,
.img.pho,
.img.cookiedough{
    height: 550px;
    width: 950px;
}
.images{
    display:flex;
    justify-content: center;
}
.h1.alfredo,
.h1.pho,
.h1.cookie{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
    color: rgb(13, 14, 13);
}



@media screen and (max-width:1250px){
     .nav-links{
        width:35%;
    }
}

/*.sidebar{
    width: 50px;
    height: 100%;
    background-color: rgb(90, 104, 74,.7);
    position: absolute;
    right: 0;
    top:0;
}*/

/* here's a run down on hwat i need to do for this stylesheet
    - figure out how i want it to look 
    - add class selectors 
    -
    */